<h2>Examples</h2>

<ul>
  <li>
    <a href="https://amzn.to/3xaGSsp" target="_blank"
      >The Infinite River - Jeffrey Chupp</a
    >
  </li>
</ul>

<h2>Share your story!</h2>

<p>
  <a href="mailto:jeffrey+squire-submission@semanticart.com"
    >Email me a link your published story</a
  >
  and I'll add it to the list. Nothing overly bawdy or offensive, please. 😅
</p>
