<h2>About</h2>

<p>
  Squire aims to be the easiest way to publish interactive fiction where the
  reader can adventure down branching narrative paths finding treasure, thrills,
  danger, and anything else you can imagine.
</p>

<p>We're just getting started. Sign up to the newsletter for updates.</p>

<div>
  <form
    class="js-cm-form"
    id="subForm"
    action="https://www.createsend.com/t/subscribeerror?description="
    method="post"
    data-id="191722FC90141D02184CB1B62AB3DC26C3DD6A90E072044B021975FA4F1D7ECF5ABEE4DA0E15D4E796495FBBAE02322D632C1D58F8BC27114FBC76E936EE06E6"
  >
    <div id="newsletter-signup">
      <div>
        <label for="fieldName">Name </label
        ><input
          aria-label="Name"
          id="fieldName"
          maxlength="200"
          name="cm-name"
        />
      </div>
      <div>
        <label for="fieldEmail">Email </label
        ><input
          autocomplete="Email"
          aria-label="Email"
          class="js-cm-email-input qa-input-email"
          id="fieldEmail"
          maxlength="200"
          name="cm-tltjdrh-tltjdrh"
          required=""
          type="email"
        />
      </div>
    </div>
    <button type="submit">Subscribe</button>
  </form>
</div>
<script
  type="text/javascript"
  src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"
></script>

<h2>Examples</h2>

<ul>
  <li>
    <a href="https://amzn.to/3xaGSsp" target="_blank"
      >The Infinite River - Jeffrey Chupp</a
    >
  </li>
</ul>

<h2>Share your story!</h2>

<p>
  <a href="mailto:jeffrey+squire-submission@semanticart.com"
    >Email me a link your published story</a
  >
  and I'll add it to the list. Nothing overly bawdy or offensive, please. 😅
</p>
