body {
  margin: 0 3% 3%;
  color: #f8fafc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  font-size: 1.3em;
  background: #030712;
}

footer {
  margin-top: 3em;
  text-align: center;
  font-size: 0.8em;
}

form {
  margin-bottom: 5em;
}

table {
  background-color: #111827;
  border-radius: 40px;
  padding: 20px;
}

pre {
  background-color: #111827;
  border-radius: 40px;
  padding: 20px;
  color: #c4b5fd;
  overflow-x: auto;
}

table pre {
  padding: 0 10px 0;
  border-radius: 0px;
  background-color: transparent;
}

table.md td, table.md th {
  padding: 10px 20px
}

.dim {
  opacity: 0.3;
}

pre .html,
.md .id {
  color: #f87171;
}

pre .attr,
.md .h1 {
  color: #eab308;
}

pre .pound,
.md .fm {
  color: #84cc16;
}

pre .value,
.md .choice {
  color: #67e8f9;
}

pre .brace {
  color: #f0abfc;
}

ul.md div {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="file"] {
  padding: 10px;
  margin: 10px 0;
}

input[type="submit"], button[type="submit"],
input::file-selector-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background: #2563eb;
  color: white;
  border: 1px solid #2563eb;
}

input[type="submit"]:hover, button[type="submit"]:hover,
input::file-selector-button:hover,
input[type="submit"]:focus, button[type="submit"]:focus,
input::file-selector-button:focus {
  background: #0ea5e9;
  color: white;
  border: 1px solid #0ea5e9;
}

h1 {
  line-height: 1.5em;
  font-weight: 800;
  font-size: 13em;
  margin: 0;
  padding: 0;
}

@media (max-width: 880px) {
  h1 {
    font-size: 10em;
  }
}

@media (max-width: 685px) {
  h1 {
    font-size: 5em;
  }

  ul.md {
    margin: 0;
    padding: 0px 20px 0;
  }

  ul.md pre {
    margin-left: -30px;
    width: calc(100% + 40px);
  }

  pre {
    padding: 10px;
    border-radius: 0;
  }

  ul.md div {
    margin-top: 10px;
    flex-direction: column;
    align-items: unset;
    gap: 0px;
  }
}

@supports (background-clip: text) {
  h1 a,
  h2.tagline {
    background-image: linear-gradient(42deg, #2563eb 25%, #0ea5e9 42%);
    background-clip: text;
    color: rgba(0, 0, 0, 0.2) !important;
    filter: brightness(1.7);
  }

  h1 a:hover,
  h2.tagline:hover {
    background-image: linear-gradient(42deg, #0ea5e9 25%, #2563eb 42%);
  }
}

h1 a {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #67e8f9;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  font-style: italic;
}

h2 {
  font-size: 2em;
  font-weight: normal;
  margin: 2em 0 0.5em;
  line-height: 1.2em;
}

h2:first-of-type {
  margin-top: 0;
}

h2.tagline {
  color: #0ea5e9;
}

td, th {
  text-align: left;
}

table.errors td,
table.errors th {
  padding: 8px;
}

td.number,
th.number {
  text-align: right;
}

tbody tr:nth-child(even) {
  background-color: #1f2937;
}

nav {
  margin: 1em 0 0;
  display: flex;
  gap: 1em;
  padding: 1em 0 0;
}

nav a {
  padding: 10px 20px;
  border-radius: 8px 8px 0 0;
  background: #030712;
  color: white;
  border: 1px solid #2563eb;
  border-bottom: none;
}

nav a.active,
nav a:hover {
  background: #2563eb;
  color: white;
  border: 1px solid #2563eb;
  text-decoration: none;
}

nav a:hover:not(.active) {
  animation: tab-animation 0.2s;
}

@media (max-width: 685px) {
  nav {
    gap: 0.4em;
  }

  nav a {
    padding: 5px;
  }
}

@keyframes tab-animation {
  from {
    background-color: #030712;
    color: #0ea5e9;
  }
  to {
    background-color: #2563eb;
    color: white;
  }
}

main {
  border-top: 1px solid #2563eb;
  padding-top: 2em;
}

#subForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 320px;
}

#newsletter-signup div {
  display: flex;
  gap: 10px;
  width: 320px;
  margin: 10px 0;
}

#newsletter-signup label {
  width: 100px;
}

#newsletter-signup input {
  width: 200px;
}

#newsletter-signup + button {
  align-self: flex-end;
  max-width: 200px;
}
