<!doctype html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/site.css?v={{ .CSSVersion }}"
    />
  </head>

  <body>
    <h1><a href="/">Squire</a></h1>
    <h2 class="tagline">
      Write interactive stories in Markdown for publishing in the Kindle
      marketplace.
    </h2>

    <nav>
      <a href="/" {{ if eq .Id "index" }}class="active"{{ end }}>Home</a>
      <a
        href="/examples"
        {{ if eq .Id "examples" }}class="active"{{ end }}
        >Examples</a
      >
      <a
        href="/validator"
        {{ if eq .Id "validator" }}class="active"{{ end }}
        >Validator</a
      >
      <a
        href="/converter"
        {{ if eq .Id "converter" }}class="active"{{ end }}
        >Converter</a
      >
    </nav>

    <main>{{ .Content }}</main>

    <footer>
      Made with ❤️ by Jeffrey Chupp |
      <a href="https://github.com/semanticart/squire-site"
        >Source code / Report bugs</a
      >
    </footer>
  </body>
</html>
