{{ if .ShowErrors }}
  {{- $errorCount := len .Errors -}}
  <h2>
    {{ if eq .CustomError "" }}
      {{ if eq $errorCount 1 }}
        1 error issue found.
      {{ else }}
        {{ $errorCount }} issues found.
        {{ if eq $errorCount 0 }}
          Great job! 😁
        {{ end }}
      {{ end }}
    {{ else }}
      {{ .CustomError }}
    {{ end }}
  </h2>

  {{ if gt $errorCount 0 }}
    <table>
      <thead>
        <tr>
          <th class="number">Line</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Errors }}
          <tr>
            <td class="number">{{ .Line }}</td>
            <td>{{ .Msg }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  {{ end }}
{{ end }}


<h2>Upload your Markdown file here to check for errors</h2>
<!-- TODO: include a screenshot -->
<form enctype="multipart/form-data" action="/validator" method="post">
  <label>
    Select your file
    <input type="file" name="fileUpload" />
  </label>

  <input type="submit" value="Upload your file" />
  <p>
    Your file is never stored on the server. If you prefer, you can use
    <a href="https://github.com/semanticart/squire" target="_blank"
      >the offline squire tool.</a
    >
  </p>
</form>
